# Intellij IDEA
.idea
pretest.iml

# Composer
vendor/
composer.lock
composer.phar

# .lessファイルから書き出された.cssファイル
views/css/

config-secret.php

# 古いCSSファイル (LESS導入前のもの)
views/style.css
views/pretest.css

