# Intellij IDEA
.idea
pretest.iml

# jQuery
views/jquery-3.1.0.min.js

# Composer
vendor/
composer.lock
composer.phar

# .lessファイルから書き出された.cssファイル
views/css/

config-secret.php

# 古いCSSファイル (LESS導入前のもの)
views/style.css
views/pretest.css

# MySQLではなくSQLiteでテストする場合必要になるファイル
database.sqlite3
