<div id="header"><a href="./" style="text-decoration: none;color:white;">戻る</a>　～をプレテスト中</div>
<div id="main">
    {% if method == "eitango-imi" %}
        <p>英単語を見て、意味を答えてください。<br />カーソルを重ねている間だけ、答えが表示されます。</p>
    {% elseif method == "imi-eitango" %}
        <p>意味を見て、英単語を答えてください。<br />カーソルを重ねている間だけ、答えが表示されます。</p>
    {% endif %}
    <p>(Google ChromeとSafari以外のブラウザでは発音機能が利用できません。ご了承ください。)</p>
    <input type="button" value="すべて選択解除" onClick="uncheckAll();">
    <input type="button" id="display_button" value="答えをすべて表示" onClick="display();">
    <br /><br />
    <div style="overflow:hidden;overflow-x:auto;">
        <form name="words">
            <table>
                {% for i in words | keys %}
                    <tr><td>{{ words[i]["id"] }}</td><td>{{ words[i]["front"] }}</td><td>{{ words[i]["back"] }}</td></tr>
                {% endfor %}
                <!--<?php
		if ($_GET['answer_method'] == "type") {
			$words = array();
			while ($row = $stmt->fetch()) {
                $words[] = $row;
                }
                if ($_GET['order'] == "rnd") shuffle($words);
                foreach ($words as $row) {
                echo '<tr><td><input type="button" onClick="play(&quot;'.$row['front'].'&quot;);" value="音声"></td><td>'.$row['id'].'</td><td class="check">選択</td><td style="min-width: 170px; max-width: 300px;">【'.$row['class'].'】<br />'.$row['back'].'</td><td style="white-space:nowrap;"><span class="'.$row['id'].'"></span><input type="text" class="'.$row['id'].'" size="8"> <input type="button" value="確認" onClick="mark(\''.$row['id'].'\',\''.$row['front'].'\');" class="'.$row['id'].'"></td></tr>';
                }
                } else {
                $words = array();
                while ($row = $stmt->fetch()) {
                $words[] = $row;
                }
                if ($_GET['order'] == "rnd") shuffle($words);
                foreach ($words as $row) {
                if ($_GET['method'] == "eitango-imi") {
                echo '<tr><td><input type="button" onClick="play(&quot;'.$row['front'].'&quot;);" value="音声"></td><td>'.$row['id'].'</td><td class="check">選択</td><td>'.$row['front'].'</td><td style="white-space:nowrap;"><div class="imi-cover">'.$row['back'].'</div></td></tr>';
                }
                if ($_GET['method'] == "imi-eitango") {
                echo '<tr><td><input type="button" onClick="play(&quot;'.$row['front'].'&quot;);" value="音声"></td><td>'.$row['id'].'</td><td class="check">選択</td><td style="min-width: 170px; max-width: 300px;">【'.$row['class'].'】<br />'.$row['back'].'</td><td><div class="cover">'.$row['front'].'</div></td></tr>';
                }
                }
                }
                $db = null;
                ?>-->
            </table>
        </form>
    </div>
    <div id="pagetop">トップ</div>
    <p>エラー/バグ等を発見した場合はお手数ですが開発者(<a href="mailto:nobita.0918&#64;gmail.com">こちら</a>)にご連絡ください</p>
    &copy;2015-2016 0918nobita
</div>

<!--<script>
    localStorage.setItem("words", JSON.parse('<?php echo json_encode($words); ?>'));
    console.log(localStorage.getItem("words"));
</script>-->
