<div id="header"><a href="./" style="text-decoration: none;color:white;">戻る</a>　ランキング</div>
<div id="main">
    <p>イベントごとに、ランキングを表示しています。</p>
    <p>エラー/バグ等を発見した場合はお手数ですが開発者(<a href="mailto:nobita.0918&#64;gmail.com">こちら</a>)にご連絡ください</p>
    &copy;2015-2016 0918nobita
</div>
