<div id="header">英単語プレテスト</div>
<div id="main">
    <p>Twitter Bot → <a href="https://twitter.com/EitangoPretest" style="text-decoration:none;" target="_blank">@EitangoPretest</a></p>
    <p>英単語を、範囲を指定してまとめてプレテストすることができます。<br />
        各種設定ができます。現在は1～{{ max }}をプレテストすることができます。</p>
    <h2>設定</h2>
    <form action="" method="POST">
        <p>解答形式：
            <select name="answer_method" id="answer_method">
                <option value="touch">クリック/タッチで正答を確認する</option>
                <option value="type">直接答えを入力し正誤判定</option>
            </select>
        </p>
        <p>出題範囲：<input type="number" name="first" min="1" max="{{ max }}" required> ～ <input type="number" name="last" min="1" max="{{ max }}" required></p>
        <p style="color:red;">{{ range_error }}</p>
        <p>出題方法：
            <select name="method" id="method">
                <option value="imi-eitango">意味→英単語</option>
                <option value="eitango-imi">英単語→意味</option>
            </select>
        </p>
        <p>出題順序：
            <select name="order">
                <option value="num">番号順</option>
                <option value="rnd">ランダム</option>
            </select>
        </p>
        <input type="submit" value="プレテスト開始！">
    </form>
    <h2>更新履歴</h2>
    <form>
    <textarea cols=s50 rows=5 readonly>{% include "history.txt" %}</textarea>
    </form>
    <p>エラー/バグ等を発見した場合はお手数ですが開発者(<a href="mailto:nobita.0918&#64;gmail.com">こちら</a>)にご連絡ください</p>
    &copy;2015-2016 0918nobita
</div>
